*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.contianer{
    min-width: 40vw;
    height: 40vh;
    background-color: #6dd5ed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
form{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    
}

input[type="submit"]{
    display: flex;
    justify-content: center;
    align-items: center;
}